.vscode/**
.vscode-test/**
src/**
out/**/*.map
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/tsconfig.json
node_modules/**/.github/**
.gitignore
tsconfig.json
test/**
**/*.ts
